.card {
  position: relative;
  width: calc(25% - 40px);
  margin: 0 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 45%;
    background: linear-gradient(180deg, #0099ae, #00bf82 40%);
  }
}

.image {
  border: 10px solid #ffffff;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  color: #444444;
  font-size: 22px;
}