.card {
  margin: 0 15px 40px;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.guessed {
  cursor: default;

  &:hover {
    transform: scale(1);
  }
}

.image {
  object-fit: fill;
}